

<section class="content-header">
    <h1>
        Dashboard

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard fa-lg"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content" id="Dash">

    <div class="col-md-16" id="Dashdata">

        <div class="col-md-6 box box-info">

            <div class="box-body" id="DashboardBodybox">

                <div class="row">
                    ///Todo <br />
                    ///Stats Analysis reports

                    <img src="../../../../assets/images/underConstruction.png" />

                </div>
            </div>
        </div>

    </div>


</section>

